@mixin flex ($justify-content: center, $align-items: center, $flex-direction: row) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
}

@mixin grid {
    display: grid;
    place-items: center;
}


@mixin padding () {
    padding: 0 10px;
}

@mixin monserrat ($font-weight: 700) {
    font-family: 'Montserrat';
    font-weight: $font-weight;
}

@mixin minWidth {
    min-width: 320px;
    box-sizing: border-box;
}


@mixin button-reset {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }