/*colors ---------------*/
$main-color: #FFFFFF;
$blue-color: #588ED6;

$background-blue: rgb(88, 142, 214);
$background-main: #FFFFFF;
$background-yellow: #FFDF6B;


/*breackpoints---------*/
$bp-tablet: 481px;
$bp-desktop: 993px;
