@import "../abstracts/mixin";
@import "../abstracts/variables";

.header {
    @include flex(space-between);
    @include minWidth;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 8px 10px;
    max-width: 1200px;
    background-color: $background-main;

    @media (min-width: $bp-tablet) {
        padding: 12px 30px;
    }

    @media (min-width: $bp-desktop) {
        padding: 8px 30px;
        position: fixed;
        z-index: 1;
        background-color: rgba(88, 142, 214, 0.6);
        left: 50%;
        transform: translateX(-50%);
    }

}

.header__logo {
    @include flex;

    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}

.header__flex-container {
    @include flex;
    gap: 15px;

    @media (min-width: $bp-desktop) {
        @include flex(space-between);
        
    }
}

.header__language {
    text-decoration: none;
    @include monserrat(500);
    color: $blue-color;
    cursor: pointer;

    @media (min-width: $bp-desktop) {
        color: $main-color;
    }
}

.header__social-media {
    cursor: pointer;
    display: none;
    fill: #588ED6;

    @media (min-width: $bp-tablet) {
        display: block;
    }
    path {
       @media (min-width: $bp-desktop) {
           fill: #132F54;
    }
     
    }
}

.header__burger-menu {
    @include flex(center, center, column);
    gap: 2px;
    background-color: $background-blue;
    padding: 17px 13px;
    cursor: pointer;

    @media (min-width: $bp-desktop) {
        display: block;
        background-color: transparent;
        padding: 0;
    }
}

.header__burger-menu-first-line {
    background-color: #FFFFFF;
    width: 17px;
    height: 2px;

    @media (min-width: $bp-desktop) {
        display: none;
    }


}

.header__burger-menu-second-line {
    background-color: #FFFFFF;
    width: 17px;
    height: 2px;

    @media (min-width: $bp-desktop) {
        display: none;
    }
}

.header__burger-menu-first-line::before {
    display: block;
    position: absolute;
    content: "";
    right: 23px;
    bottom: 30px;
    width: 17px;
    height: 2px;
    background-color: $background-main;

    @media (min-width: $bp-tablet) {
        bottom: 34px;
        right: 43px;
    }

}

.active {
    transform: rotate(45deg);
    transition: transform 0.5s ease;
    background-color: $background-blue;
}

.active-line {
    display: block;
    position: absolute;
    right: 23px;
    bottom: 36px;
    transform: rotate(-45deg);
    transition: transform 0.5s ease;
    background-color: $background-blue;

    @media (min-width: $bp-tablet) {
        right: 43px;
        bottom: 40px;
    }
}

.active-burger-menu {
    transition: background-color 0.3s ease-in-out;
    background-color: transparent;
}


.menu-wrapper {
    display: none;
    position: absolute;
    right: 10px;
    top: 50px;
    width: 250px;
    max-width: 1200px;
    background-color: rgba(19, 47, 84, 1);
    z-index: 1;
    box-sizing: border-box;
    list-style: none;

    @media (min-width: $bp-tablet) {
        right: 30px;
        top: 58px;
    }

    @media (min-width: $bp-desktop) {
        @include flex(start, center, row);
        background-color: transparent;
        position: sticky;
        width: auto;
    }

    li {
        @include monserrat(400);
        font-size: 15px;
        line-height: 25px;
        text-transform: uppercase;
        white-space: nowrap;
        box-sizing: border-box;
        padding: 5px 0 8px 13px;
        cursor: pointer;
        width: 250px;

        @media (min-width: $bp-desktop) {
            width: auto;
        }
    }

    a {
        text-decoration: none;
        color: $main-color;
        width: 250px;

        @media (min-width: $bp-tablet) {
            width: auto;
        }

        // @media (min-width: $bp-desktop) {
        //     color: $-color;
        // }
    }

    li:hover {
        background: $background-main;

        a {
            color: $blue-color;

            @media (min-width: $bp-desktop) {
                color: #132F54;
                
            }
        }

        @media (min-width: $bp-desktop) {
            background-color: transparent;

        }

    }

}

.active-wrapper {
    @include flex(center, start, column);

    @media (min-width: $bp-desktop) {
        @include flex(center, start, row);

    }
}