@import "../abstracts/mixin";
@import "../abstracts/variables";

.support {
    @include minWidth;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;

    h2 {
        text-align: center;
        @include monserrat(700);
        font-size: 25px;
        line-height: 30px;
        padding-top: 25px;
        color: $blue-color;

        @media (min-width: $bp-desktop) {
            padding-top: 65px;
            font-size: 43px;
            line-height: 56px;
        }
    }

}

.support__cards {
    @include grid;
    align-items: stretch;
    grid-column-gap: 14px;
    justify-content: center;
    grid-row-gap: 18px;
    grid-template-areas:
        "bank"
        "title"
        "card1"
        "card2"
    ;
    padding: 25px 10px;

    @media (min-width: $bp-tablet) {
        grid-template-areas:
            "bank bank"
            "title title"
            "card1 card2"
        ;
        padding: 33px 24px;
    }

    @media (min-width: $bp-desktop) {
        grid-template-areas:
            "bank title title"
            "bank card1 card2"
        ;
        padding: 57px 83px;
    }
}

.support__cards-bank-account {
    color: $main-color;
    background: #588ED6;
    grid-area: bank;
    padding: 20px 25px;
    box-sizing: border-box;

    @media (min-width: $bp-desktop) {
        padding: 20px 54px;
    }


    div:first-child {
        @include monserrat(500);
        font-size: 15px;
        line-height: 19px;
        padding-bottom: 25px;

        @media (min-width: $bp-desktop) {
            font-size: 20px;
            line-height: 26px;      
        } 
    }

    div:last-child {
        @include monserrat(700);
        font-size: 17px;
        line-height: 23px;

        @media (min-width: $bp-desktop) {
            font-size: 22px;
            line-height: 28px;      
        } 
    }
}

.support__cards-title {
    @include monserrat(700);
    font-size: 17px;
    line-height: 23px;
    padding: 15px 0 15px;
    background-color: $background-yellow;
    grid-area: title;

    @media (min-width: $bp-desktop) {
        font-size: 20px;
        line-height: 26px;      
    } 

}

.support__cards-item1,
.support__cards-item2 {
    box-sizing: border-box;
    background-color: $background-yellow;
    padding: 18px;
    gap: 18px;


    div:first-child {
        @include monserrat(500);
        font-size: 13px;
        line-height: 17px;

        @media (min-width: $bp-desktop) {
            font-size: 16px;
            line-height: 21px;      
        } 
    }

    div:last-child {
        @include monserrat(700);
        font-size: 14px;
        line-height: 19px;

        @media (min-width: $bp-desktop) {
            font-size: 20px;
            line-height: 26px;      
        } 
    }
}

.support__cards-item1 {
    grid-area: card1;
}

.support__cards-item2 {
    grid-area: card2;
}

.support__title,
.support__cards-title,
.support__cards-item1,
.support__cards-item2 {
    color: $blue-color;
}

.support__title,
.support__cards-bank-account,
.support__cards-title,
.support__cards-item1,
.support__cards-item2 {
    @include flex(center, center, column);
    text-align: center;
    width: 100%;
}